USE [master]
GO
/****** Object:  Database [QLDT]    Script Date: 11/14/2021 9:33:48 PM ******/
CREATE DATABASE [QLDT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDT]
GO
/****** Object:  Table [dbo].[BoDe]    Script Date: 11/14/2021 9:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoDe](
	[ma] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](200) NOT NULL,
	[thoi_gian_thi] [int] NOT NULL,
	[email_tao] [char](100) NOT NULL,
 CONSTRAINT [BoDe_PK] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cau]    Script Date: 11/14/2021 9:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cau](
	[ma_BD] [int] NOT NULL,
	[cau_hoi] [nvarchar](1000) NOT NULL,
	[phuong_an_1] [nvarchar](1000) NOT NULL,
	[phuong_an_2] [nvarchar](1000) NOT NULL,
	[phuong_an_3] [nvarchar](1000) NOT NULL,
	[phuong_an_4] [nvarchar](1000) NOT NULL,
	[dap_an] [nvarchar](1000) NOT NULL,
 CONSTRAINT [Cau_PK] PRIMARY KEY CLUSTERED 
(
	[ma_BD] ASC,
	[cau_hoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinThi]    Script Date: 11/14/2021 9:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinThi](
	[email_thi] [char](100) NOT NULL,
	[ma_BD] [int] NOT NULL,
	[diem] [float] NOT NULL,
	[thoi_gian_hoan_tat] [int] NOT NULL,
 CONSTRAINT [ThongTinThi_PK] PRIMARY KEY CLUSTERED 
(
	[email_thi] ASC,
	[ma_BD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/14/2021 9:33:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[email] [char](100) NOT NULL,
	[password] [char](50) NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[gioi_tinh] [char](3) NULL,
	[ngay_sinh] [date] NULL,
 CONSTRAINT [Users_PK] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BoDe]  WITH CHECK ADD  CONSTRAINT [BoDe_FK] FOREIGN KEY([email_tao])
REFERENCES [dbo].[Users] ([email])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BoDe] CHECK CONSTRAINT [BoDe_FK]
GO
ALTER TABLE [dbo].[Cau]  WITH CHECK ADD  CONSTRAINT [Cau_FK_1] FOREIGN KEY([ma_BD])
REFERENCES [dbo].[BoDe] ([ma])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Cau] CHECK CONSTRAINT [Cau_FK_1]
GO
ALTER TABLE [dbo].[ThongTinThi]  WITH CHECK ADD  CONSTRAINT [ThongTinThi_FK_1] FOREIGN KEY([email_thi])
REFERENCES [dbo].[Users] ([email])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ThongTinThi] CHECK CONSTRAINT [ThongTinThi_FK_1]
GO
ALTER TABLE [dbo].[ThongTinThi]  WITH CHECK ADD  CONSTRAINT [ThongTinThi_FK_2] FOREIGN KEY([ma_BD])
REFERENCES [dbo].[BoDe] ([ma])
GO
ALTER TABLE [dbo].[ThongTinThi] CHECK CONSTRAINT [ThongTinThi_FK_2]
GO
USE [master]
GO
